.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(0, 246, 255, 0.4);
  animation: float 4s ease-in-out infinite;
}

.display {
  height: 80px;
  border-radius: 15px;
  padding: 15px;
  font-size: 30px;
  text-align: right;
  background: rgba(0,0,0,0.4);
  box-shadow: inset 0 0 10px #00f6ff;
  color: #39FF14;


}

.buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 60px;
  border-radius: 15px;
  border: none;
  background: rgba(255,255,255,0.12);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 0 10px rgba(0, 246, 255, 0.3);
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #00f6ff;
}

.equal {
  grid-column: span 2;
  background: linear-gradient(135deg, #00f6ff, #00c2ff);
  color: black;
  font-weight: bold;
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
