* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(circle at top, #1b2a4e, #050812);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
